$white: #ffffff;

* {
    padding: 0;
    margin: 0;
}

.background {
    display: block;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#000000, #101030 );
}

.star {
    display: block;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 0 4px $white;
    position: absolute;
    transition: .85s;
    opacity: 1;
}

.blink {
    transition: .85s;
    box-shadow: 0 0 4px .5px $white;

    transform: scale(2);
}

.blue {
    background: #b0ffff;
    box-shadow: 0 0 5px #b0ffff;
}

.purple {
    background: #e2c5fc;
    box-shadow: 0 0 5px #e2c5fc;
}

.blue {
    background: #ffe0cc;
    box-shadow: 0 0 5px #ffe0cc;
}

.red {
    background: #ffc0d0;
    box-shadow: 0 0 5px #ffc0d0;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(#80008000 40%, #1010a030);
    z-index: 10;
}