$white: #ffffff;
$blue: #b0ffff;
$purple: #e2c5fc;
$yellow: #ffe0cc;
$red: #ffc0d0;

* {
    padding: 0;
    margin: 0;
}

.background {
    display: block;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(#000000, #101030 );
}

.star {
    display: block;
    height: 1px;
    width: 1px;
    border-radius: 50%;
    background: $white;
    box-shadow: 0 0 4px $white;
    position: absolute;
    transition: 1s ease;
    opacity: 1;
}

.blink {
    // transition: 1s ease;
    box-shadow: 0 0 4px .5px $white;
    transform: scale(2);
}

.blue {
    background: $blue;
    box-shadow: 0 0 5px $blue;
}

.purple {
    background: $purple;
    box-shadow: 0 0 5px $purple;
}

.yellow {
    background: $yellow;
    box-shadow: 0 0 5px $yellow;
}

.red {
    background: $red;
    box-shadow: 0 0 5px $red;
}

.overlay {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block;
    top: 0;
    left: 0;
    background: linear-gradient(#80008000 40%, #1010a030);
    z-index: 10;
}